<ion-header>
  <ion-navbar>
    <ion-title>
      About
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>

    <ion-row>
      <ion-col witdth-100>

        <ion-list>
          <ion-item>
             <strong>App Name: </strong> theWeather
          </ion-item>
          <ion-item>
              <strong>Version: </strong> 1.0.0
           </ion-item>
           <ion-item>
              <strong>Description: </strong> A simple weather app
           </ion-item>
        </ion-list>

      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
