<ion-header>
  <ion-navbar>
    <ion-title>theWeather</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="home">
  <ion-grid *ngIf="weather">

    <ion-row>
      <ion-col width-50 offset-25>
        <h2 class="location">{{weather.name}}</h2>
        <div class="icon">
          <img src="http://openweathermap.org/img/w/{{weather.weather[0].icon}}.png" alt="">
        </div>
        <h3 class="description">{{weather.weather[0].description}}</h3>
        <h1 class="temperature">{{weather.main.temp}}&deg;</h1>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col width-100>
        <ion-list>
          <ion-item>
            <strong>Temperature: </strong> {{weather.main.temp}}&deg; | Max: {{weather.main.temp_max}}&deg; | Min: {{weather.main.temp_min}}&deg;
          </ion-item>
          <ion-item>
            <strong>Relative humidity: </strong> {{weather.main.humidity}} %
          </ion-item>
          <ion-item>
            <strong>Pressure: </strong> {{weather.main.pressure}} hPa
          </ion-item>
          <ion-item>
            <strong>Visibility: </strong> {{weather.visibility}} meters
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
