.home {
  background: color($colors, primary);
  color: color($colors, light);
  margin-top: 30px;

  .description,
  .icon,
  .location,
  .temperature {
    text-align: center;
  }

  .temperature {
    font-size: 90px;
    font-weight: normal;
  }

  .icon img {
    width: 100px;
  }

  .location {
    font-size: 40px;
  }

  .description {
    font-size: 30px;
  }
}

.toolbar-title {
  text-align: center;
}

.tabs-md .tab-button-icon {
   color: #ccc;
}